<div class="container">
    <div class="header">
        <img src="./IMG-20200824-WA0001.jpg" alt="" width="70px">
        <h1>Mr . Vivek Taware </h1>
        <p style="display:flex;"> ☏:-932266293 | ✉: Vivektaware16&#64;gmail.com | LINKEDIN | GITHUB </p>
        <h2>Java Full Statck Dveloper / Web Developer / UI UX Dsigner</h2>

    </div>

    <div class="section">
        <h2> SUMMARY: </h2>
        <p>Motivated and skilled web developer with Expertise in HTML, CSS, JAVASCRIPT, Bootstrap, Java, Spring Boot.
            Pursuing -
            B-TECH in Computer Science and Engineering To seek a challenging
            position in an Organisation where my skills find sample opportunities for up-gradation and growth of the
            company.</p>
    </div>




    <div class="section">
        <h2 style="text-decoration: underline;">Educational Qualification: </h2>
        <div class="education">
            <h3 style="font-size: 20px; font-family: 'Times New Roman', Times, serif; text-decoration: underline;">
                B-Tech in Computer Science and Engineering [CSE]
                <p style="font-size: 15px; text-decoration: underline;">BTech in CSE course is a four-year undergraduate
                    engineering degree program.
                    It focuses on the design, development,
                    and implementation of computer software and hardware. It also combines
                    theoretical knowledge with practical skills in programming, algorithms, data structures, and more.
                </p>
            </h3>
            <h3 style="font-size: 20px; font-family: 'Times New Roman', Times, serif; text-decoration: underline;">
                ♦️ DIPLOMA IN COMPUTER ENGINEERING:
                <p style="font-size: 15px; text-decoration: underline;">Is a specilized educational program that
                    equips student with knowledgeand skills needed to pursue a career in the field of computer its
                    typically a 3 yesrs program
                    Highly motivated and skilled Fresher Computer Science with a passion for developing innovative
                    software solutions.
                    Proficient in various programming languages including C++, Python, and Java, with experience in
                    developing web and mobile applications,
                    designing databases, and debugging software.</p>
            </h3>

        </div>
    </div>

    <div class="section">
        <h2 style="text-decoration: underline;"> Technical Skills</h2>
        <ul>
            <li>JavaScript</li>
            <li>Angular </li>
            <li>Web Developer </li>
            <li>Power BI developer </li>
            <li>Android Dveveloper </li>
            <li>Software Developer </li>
            <li>SpringBoot </li>
            <li>BootStrap </li>
            <li> HTML</li>
            <li> CSS</li>
        </ul>
    </div>


    <div class="section">
        <h2 style="text-decoration: underline;">Experience</h2>
        <div class="experience">
            <h3>Intership in HI - TECH Computer's In Akluj As (WEB DEVELOPER)(2024)</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="experience">
            <h2>PROJECTS</h2>
            <h3> ♦️ Agriculture Managament System </h3>
            <p>Projrct Role : - HTML, CSS, JavaScript Framework, Angular</p>
        </div>

        <div class="experience">
            <h3> ♦️ Cake Shop Website </h3>
            <p>Projrct Role : - HTML, CSS, JavaScript Framework, Angular</p>
        </div>

        <div class="experience">
            <h3> ♦️ Music Stream App using </h3>
            <p>Projrct Role : - HTML, CSS, JavaScript Framework, Angular</p>
        </div>

        <div class="experience">
            <h2>Personal Details:</h2>
            <h3></h3>
            <p>Date Of Birth : - 05,May,2002. | Language Known : - English ,Hindi And Marathi | Marital Status : -
                Unmarried</p>

            <hr>
            <p>I her by declare that information furnished above is true to the best of my knowledge and I am also
                confident of my ability to
                Work in a term
            </p>
            <hr>

        </div>
        <h2 style="position: absolute; right: 220px;"> ( Vivek Ananata Taware)</h2>







    </div>

</div>