
<div class="side">
    <img src="IMG-20200824-WA0001.jpg" alt="" width="150px">
    <h1> Mr. Vivek Taware</h1>

    <p> ☏: 9322662939 <br>
        ✉:{{"Vivektaaware16@gmail.com"}} <br></p>


    <h2>

        <ul>
            <li> Smart Working </li>
            <li> Positive Attitude </li>
            <li> Self Motivated </li>
            <li>Web Developer </li>
            <li>Angular</li>
            <li>SpringBoot</li>
            <li>Power BI Developer</li>
        </ul>

    </h2>



</div>

<h1 class="thank">


    Thank Youu For  Visit

</h1>