<div class="container">
    <div class="home">
        <div class="boxlogin">
            <h1> | GET IN TOUCH | </h1>
            <label for=""> Email ID </label>
            <input type="text" [(ngModel)]="fileinfo">
            <label for="">Enter Mobile No.</label>
            <input type="text">
            <label for=""> Write Message </label>
            <input type="text" id="inid">
            <button type="submit" (click)="submit()"> Submit </button>

            
           
                
        </div>
    </div>
    
</div>



