<div class="box">
    <div class="fullscreen">
        <div class="side">
            <img src="IMG-20200824-WA0001.jpg" alt="" width="100px">
            <h1> Mr. Vivek Taware</h1>

            <p> ☏: 9322662939 <br>
                ✉:{{"Vivektaaware16@gmail.com"}} <br></p>


            <h2>

                <ul>
                    <li> Smart Working </li>
                    <li> Positive Attitude </li>
                    <li> Self Motivated </li>
                    <li>Web Developer </li>
                    <li>Angular</li>
                    <li>SpringBoot</li>
                    <li>Power BI Developer</li>
                    <li>DevOps Developer</li>
                </ul>

            </h2>



        </div>

        <div class="home">
            <div class="p">
                <h1>
                    Welcome To My Portfolio
                </h1>
                <p>
                    My job is to build your website so that is is functional and user-friendly but at the
                    same time attractive moreover, i add personal touch to your product and make sure that
                    is eye-catching and easy to use my aim is to bring acroos your your message and identity
                    in the most crative way. i created web desing for many fomous famous brand.
                </p>
            </div>

            <a routerLink="/uiux">
                <div class="sbox" id="box1">
                    <h3> 🖥️🏞️ UI UX Designer </h3>
                    <p> The most modern and high-quility desung made at a professional level </p>
                </div>
            </a>
            <a routerLink="/web">
                <div class="sbox" id="box2">
                    <h3>🖥️ Web Development </h3>
                    <p>High-quility development of sites an the professional level.</p>
                </div>
            </a>
            <a  routerLink="/powerbi">
                <div class="sbox" id="box3">
                    <h3> Power BI Developer </h3>
                    <p>Professional development applications fo iOS and android</p>
                </div>
            </a>
            <a href="">
                <div class="sbox" id="box4">
                    <h3> 💻Python Developer</h3>
                    <p> high-quility
                        development of back-end</p>
                </div>
            </a>

        </div>

              
       
</div>

<div class="footer">
    <h1>
        © Connect Me ↧
    </h1>
    <ul>
        <li> <a href="">Linkdin</a></li>
        <li> <a href="">⊠ Email</a></li>
        <li> <a href=""> ƒ Facebook</a></li>
        <li> <a href=""> ì Instagram</a></li>
        <li> <a href=""> Telegram</a></li>

    </ul>

</div>