

    <div class="box">
        <div class="fullscreen">

            <div class="navbar">
                <h1>
                    Mr . Vivek Taware UI UX Designer
                </h1>
          
            </div>


            <div class="home">

              <div class="content">
                <h1>
                    UI user Interface <br>
                    Ux User Experience
                </h1>
                <p>
                    UX design is all about identifying and solving user problems; UI design is all about creating intuitive, 
                    aesthetically-pleasing, interactive interfaces. UX design usually comes first in the product development 
                    process
                </p>
              
              </div>
            </div>
            <div class="home">
                <div class="boxlogin">
                    <h1>    User Login </h1>
                    <label for=""> Enter Your Email</label>
                    <input type="text">
                    <label for="">  password</label>
                    <input type="password">
                    <button type="submit">Submit</button>
                    <a href="">Create new Account</a>
                        
                </div>
            </div>


           
        </div>


         <div class="uiimg">

            
         </div>

    </div>
  


