<div class="main">
    <h1>Cake Shop Project</h1>
    <div class="img0">
        <img src="bakery shop nav.png" alt="" width="400px">
    </div>
    <div class="text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia fugit, aliquam perferendis quos, similique,
        dolorem at amet exercitationem delectus praesentium commodi quas laborum hic soluta vero quibusdam id!
        Cupiditate ducimus aspernatur est nostrum a odit veritatis velit porro dolorum voluptatibus at asperiores rem
        facere possimus, repudiandae, molestias veniam amet id obcaecati. Earum in dolores doloribus unde, esse rem
        corporis itaque veritatis repellendus similique impedit. Dicta modi veniam libero voluptates quo pariatur.
        Officia, fuga! Reprehenderit dignissimos placeat voluptatum odit rerum aut. Quidem, laboriosam. Inventore
        quisquam asperiores ipsa eaque officiis voluptates aliquam nisi corrupti, minima, est eos amet illum molestiae
        animi vitae, quam error iste. Quod accusantium dignissimos esse rem. Accusantium voluptate mollitia nostrum
        veniam sapiente necessitatibus laboriosam nam eveniet facilis consequuntur. Voluptates natus laboriosam optio
        in, illo minus dolore corporis labore enim ea. Tenetur repudiandae amet voluptatibus numquam a. Inventore saepe
        voluptatem sapiente quis consequatur reprehenderit est enim tempora? Ullam, ipsa!
    </div>






</div>